<div class="side_top">
  <div class="my_name">
    <%=link_to edit_user_path(current_user) do%>
      <%=current_user.name%>
    <%end%>
  </div>
  <div class="new_chat">
    <%=link_to 'チャットを作成する', new_room_path%>
  </div>
</div>
<div class="side_under">
  <% current_user.rooms.each do |room|%>
    <div class="room">
      <div class="side_room_name">
        <%=link_to room.name, room_messages_path(room)%>
      </div>
    </div>
  <%end%>
</div>