<div class="side_top">
  <div class="my_name">
    <a href="#">NAME</a>
  </div>
  <div class="new_chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_under">
  <div class="room">
    <div class="side_room_name">
      <a href="#">テストチャットルーム1</a>
    </div>
  </div>
  <div class="room">
    <div class="side_room_name">
      <a href="#">テストチャットルーム2</a>
    </div>
  </div>
</div>